*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    position: absolute;
    bottom: 0;
    padding: 8px;
}
li{
    font-size: 14px;
    color: black;
    font-weight: bold;
}
#paper{
    overflow: hidden;
    height: 100%;
}
#container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100vh;
    color: #fff;
    z-index: 10;
}
.transparent{
    opacity: 1;
}
.hide {
    display: none;
}
.music {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    z-index: 11;
}
.play{
    background: url("./pause.png");
}
.pause{
    background: url("./play.png");
}